<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Collect exchange rate data using an API
*   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [2]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data.

1.  Open the url : [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) and click on **Get Free API Key**.
2.  Subscribe for Free plan and Sign-in with the Google Account.
3.  Once the account is created you will be redirected to [https://apilayer.com](https://apilayer.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) website.
4.  Now, click on the **user icon** and click **Account** as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/account.png"/>

3.  Scroll down and you will get the API Key section. Copy the API key and use in the url in Question 1.

### Call the API

<b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [3]:
# Write your code here

url = "https://api.apilayer.com/exchangerates_data/latest?base=EUR&apikey=2zyHCeD4OkxUJV5Aa9fSSJ2cSTGPXjmu"

In [4]:
response = requests.get(url)
response.json()

{'success': True,
 'timestamp': 1657480814,
 'base': 'EUR',
 'date': '2022-07-10',
 'rates': {'AED': 3.741383,
  'AFN': 89.21778,
  'ALL': 118.100298,
  'AMD': 413.086021,
  'ANG': 1.827359,
  'AOA': 438.964319,
  'ARS': 128.264485,
  'AUD': 1.485473,
  'AWG': 1.828367,
  'AZN': 1.735645,
  'BAM': 1.956001,
  'BBD': 2.047279,
  'BDT': 94.738261,
  'BGN': 1.958207,
  'BHD': 0.384033,
  'BIF': 2087.212003,
  'BMD': 1.018589,
  'BND': 1.421424,
  'BOB': 6.970908,
  'BRL': 5.352767,
  'BSD': 1.013988,
  'BTC': 4.8658389e-05,
  'BTN': 80.350706,
  'BWP': 12.851121,
  'BYN': 2.606427,
  'BYR': 19964.340869,
  'BZD': 2.043778,
  'CAD': 1.320911,
  'CDF': 2039.728105,
  'CHF': 0.994872,
  'CLF': 0.035959,
  'CLP': 992.217958,
  'CNY': 6.81966,
  'COP': 4456.288584,
  'CRC': 696.700752,
  'CUC': 1.018589,
  'CUP': 26.992604,
  'CVE': 110.274616,
  'CZK': 24.641752,
  'DJF': 180.50574,
  'DKK': 7.440999,
  'DOP': 55.533842,
  'DZD': 149.43003,
  'EGP': 19.210675,
  'ERN': 15.278833,
  'ETB': 52.902713,
  'EUR': 1,
  'FJD': 2.25148,
  'FKP': 0.836362,
  'GBP': 0.846742,
  'GEL': 2.995049,
  'GGP': 0.836362,
  'GHS': 8.162312,
  'GIP': 0.836362,
  'GMD': 55.095866,
  'GNF': 8806.667932,
  'GTQ': 7.858085,
  'GYD': 212.198503,
  'HKD': 7.994751,
  'HNL': 24.927174,
  'HRK': 7.518245,
  'HTG': 117.491245,
  'HUF': 405.118279,
  'IDR': 15255.353825,
  'ILS': 3.523508,
  'IMP': 0.836362,
  'INR': 80.764421,
  'IQD': 1479.859042,
  'IRR': 43137.236879,
  'ISK': 139.52669,
  'JEP': 0.836362,
  'JMD': 152.878331,
  'JOD': 0.72222,
  'JPY': 138.620145,
  'KES': 119.798046,
  'KGS': 84.181583,
  'KHR': 4133.860468,
  'KMF': 473.261871,
  'KPW': 916.729779,
  'KRW': 1318.859009,
  'KWD': 0.313186,
  'KYD': 0.844874,
  'KZT': 480.361887,
  'LAK': 15233.028304,
  'LBP': 1533.133688,
  'LKR': 369.584327,
  'LRD': 155.33864,
  'LSL': 16.134836,
  'LTL': 3.007628,
  'LVL': 0.616134,
  'LYD': 4.941431,
  'MAD': 10.3235,
  'MDL': 19.543904,
  'MGA': 4150.091884,
  'MKD': 61.620373,
  'MMK': 1877.325501,
  'MNT': 3182.160701,
  'MOP': 8.197015,
  'MRO': 363.636033,
  'MUR': 46.244032,
  'MVR': 15.635724,
  'MWK': 1040.752753,
  'MXN': 20.848887,
  'MYR': 4.509332,
  'MZN': 65.016909,
  'NAD': 16.134831,
  'NGN': 423.050879,
  'NIO': 36.35517,
  'NOK': 10.254409,
  'NPR': 128.56121,
  'NZD': 1.644344,
  'OMR': 0.392164,
  'PAB': 1.013888,
  'PEN': 3.944344,
  'PGK': 3.618616,
  'PHP': 56.868196,
  'PKR': 210.247233,
  'PLN': 4.774992,
  'PYG': 6968.907681,
  'QAR': 3.708721,
  'RON': 4.942503,
  'RSD': 117.413238,
  'RUB': 66.208175,
  'RWF': 1045.231143,
  'SAR': 3.823997,
  'SBD': 8.311653,
  'SCR': 14.374253,
  'SDG': 464.989543,
  'SEK': 10.684625,
  'SGD': 1.425373,
  'SHP': 1.403008,
  'SLL': 13414.815102,
  'SOS': 595.3689,
  'SRD': 22.865795,
  'STD': 21082.732048,
  'SVC': 8.871774,
  'SYP': 2559.235344,
  'SZL': 17.163597,
  'THB': 36.518485,
  'TJS': 10.66163,
  'TMT': 3.575247,
  'TND': 3.120451,
  'TOP': 2.397096,
  'TRY': 17.594394,
  'TTD': 6.8817,
  'TWD': 30.316772,
  'TZS': 2364.526184,
  'UAH': 29.955812,
  'UGX': 3810.432266,
  'USD': 1.018589,
  'UYU': 40.806558,
  'UZS': 11072.605519,
  'VEF': 217805073818.5945,
  'VND': 23791.68836,
  'VUV': 118.371055,
  'WST': 2.693884,
  'XAF': 656.014204,
  'XAG': 0.053107,
  'XAU': 0.000577,
  'XCD': 2.752788,
  'XDR': 0.768767,
  'XOF': 656.014204,
  'XPF': 115.253696,
  'YER': 254.902223,
  'ZAR': 17.134039,
  'ZMK': 9168.522071,
  'ZMW': 16.552743,
  'ZWL': 327.985184}}

### Save as DataFrame

<b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [5]:
# Turn the data into a dataframe

dataframe = pd.DataFrame(response.json())
dataframe

     success   timestamp base        date        rates
AED     True  1657480814  EUR  2022-07-10     3.741383
AFN     True  1657480814  EUR  2022-07-10    89.217780
ALL     True  1657480814  EUR  2022-07-10   118.100298
AMD     True  1657480814  EUR  2022-07-10   413.086021
ANG     True  1657480814  EUR  2022-07-10     1.827359
..       ...         ...  ...         ...          ...
YER     True  1657480814  EUR  2022-07-10   254.902223
ZAR     True  1657480814  EUR  2022-07-10    17.134039
ZMK     True  1657480814  EUR  2022-07-10  9168.522071
ZMW     True  1657480814  EUR  2022-07-10    16.552743
ZWL     True  1657480814  EUR  2022-07-10   327.985184

[168 rows x 5 columns]

In [6]:
# Drop unnescessary columns

dataframe.drop(columns=["success", "timestamp", "base", "date"], inplace=True)
dataframe

           rates
AED     3.741383
AFN    89.217780
ALL   118.100298
AMD   413.086021
ANG     1.827359
..           ...
YER   254.902223
ZAR    17.134039
ZMK  9168.522071
ZMW    16.552743
ZWL   327.985184

[168 rows x 1 columns]

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [7]:
# Save the Dataframe

dataframe.to_csv("exchange_rates_1.csv")

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                              |
| ----------------- | ------- | ----------------- | ----------------------------------------------- |
| 2022-05-06        | 0.3     | Malika            | Updated instructions to get the API and the url |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR                 |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab              |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).